# Compiled Class
.class

# Package Files
*.jar
*.war
*.ear
*.tar.gz

# Build Path
*/build/
*/out/
**/src/main/resources/public/

# Log
*.log
hs_err_pid*

# Gradle
*/.gradle
*/gradle/
!*/gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Misc
.java-version
shop-app/node_modules/.yarn-integrity
.vscode/launch.json
node_modules/.yarn-integrity

*/.cache
*/node_modules
*/.idea
*/target
