.page {
  padding: 20px
}

.page-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f5ff;
  color: #000
}

.page-title h2 {
  margin-bottom: 0;
}

.page-title .sub-title {
  font-size: 14px;
  color: #999
}

.page-content {
  padding: 15px 0;
}