.list_wrap {
    display: table;
}

.list_wrap .list_row {
    display: table-row;
}

.list_wrap .rank_icon,.product_image,.product_desc,.product_price {
    display: table-cell;
    font-size: 25px;
}

.list_wrap .rank_icon {
    width: 120px;
}

.list_wrap .rank_icon.gold {
    background-image: url('/images/medal_gold_icon.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 20px 50px;
}

.list_wrap .rank_icon.silver {
    background-image: url('/images/medal_silver_icon.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 20px 50px;
}

.list_wrap .product_image {
}
.list_wrap .product_image img{
    width: 200px;
}

.list_text {
    color: black
}