div{
  margin: 0;
  padding: 0;
  border: 0;
}
.star_area {
  float: left;
  width: 28.8%;
  text-align: center;
}
.star_area .total {
  margin-top: -3px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 12px;
  color: #888;
}
.star_area .total em {
  font-style: normal;
  font-family: 'montserratregular';
}
.star_area .num {
  margin-bottom: 7px;
  color: #000;
  font-weight: bold;
}
.star_area .num > strong {
  font-size: 36px;
  font-family: 'montserratregular';
  font-weight: normal;
}
ul{
  list-style: none;
}
.star_area .star_list {
  text-align: center;
}
.star_area .star_list li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
}