.picker-wrap {
  line-height: 15px;
  padding-top: 10px;
}

.picker-color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
  background-color: #000000;
}

.picker-swatch {
  padding: 5px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  display: inline-block;
  cursor: pointer;
}

.picker-popover {
  position: absolute;
  z-index: 2;
}

.picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}