.sider{
    margin: 10px;
    padding: 10px;
}

.divide {
    borderBottom: '1px solid lightgray';
    paddingBottom: 10;
    marginBottom: 10;
    paddingLeft: 10;
    paddingRight: 10;
}

.text {
    color: black;
}