.content_wrap {
  position: absolute;
  top: 10%;
  left: 0px;
  width: 100%;
  height: max-content;
}

.header_wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  padding: 8px 10px;
  width: 100%;
  height: 10%;
  z-index: 200;
}

.header_wrap .back_button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  padding: 8px 5px;
  background-image: url('/images/back_icon.png');
  background-size: 60px;
  background-repeat: no-repeat;
}

.header_wrap .menu {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 80px;
  padding: 8px 5px;
  background-image: url('/images/menu.png');
  background-size: 80px;
  background-repeat: no-repeat;
}

.menu_list a {
  font-size: xx-large;
}

.header_wrap .logo_wrap {
  position: fixed;
  top: 5px;
  width: 100%;
  height: 50px;
  margin-top: 8px;
  text-align: center;
}

.logo_wrap .text_title {
  font-size: 50px;
  font-weight: 800;
}

.logo_wrap img {
  width: 60%;
}

.footer_wrap {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8%;
  line-height:350%;
  font-size: 30px;
  background: #c2dd8d;
  text-align: center;
}

.footer_wrap .bottom_btn {
  width: 100%;
}
