.logo-wrap {
  width: 100%;
  height: 50px;
  text-align: center;
}

.title-area{
  display: block;
  padding: 30px;
  margin-top: 80px;
  background-color: rgb(242,242,242);
}
.title-area .title{
  font-size: 45px;
}
.title-area .subtitle{
  font-size: 30px;
}

.div-name{
  font-size: 30px;
  margin-top: 20px;
}

.select-box{
  width: 90%;
  height: 80px;
  font-size: 30px;
  padding-left: 10px;
  background-color: #fff;
}

.select-box .option{
  font-size: 15px;
}





.footer-wrap {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8%;
  line-height:350%;
  font-size: 30px;
  background: #c2dd8d;
  text-align: center;
}

.footer-wrap .search-button {
  width: 100%;
}
