.search .condition {
  font-size: 50;
}
.inactive{
  background: rgb(145, 155, 126);
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
  width: auto;
}
.active{
  background: rgb(170, 255, 0);
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
  width: auto;
}